html {--txtcolor: lightgrey; --btncolor: #F88; font-size:16; box-sizing: border-box; background: #111; font-family: sans-serif;  accent-color:dimgrey; color: var(--txtcolor)}
body {margin: 0px}
select {background: #888; font-size: inherit}
button {padding: 0px; border: none; background: none; font-size: inherit; color: var(--btncolor)}
button :hover{filter:hue-rotate(180deg)}
sidebar {position: absolute; float: left; box-sizing: border-box; width: 20em; height: 100%; border: 3px solid dimgrey; text-align: center}
textarea {background: #888; transform: translateY(5px); font-size: inherit}
.bar {margin: 2%; min-height: 3px; width: 100%; background-color: darkgrey}
.bar2 {height: 3px; max-width: 100%}
.game {position: relative; width: calc(100% - 20em); box-sizing: border-box; margin-left: 20em; padding: 5%; border-bottom: 1px solid dimgrey}
.hid {display: none}
.menubutton {margin-bottom: 1%; width: 100%; height: 2.5em; border: 2px solid #555; background: #444; color: inherit}
.sld {display: flex; width: 100%; height: 3em; border-bottom: 3px solid #555}
.sld>button {margin: 1%; min-width: 5em; height: 2em; padding: 0.5em; border: 2px solid #444; background: #555; color: inherit}
.sld>div {overflow: hidden; padding-top: 1em; height:1em}
.cimg {position: absolute; object-fit: contain; width: 50%}
.pic {display: inline-block}
#gametitle {margin: 0px; border-bottom: 2px solid dimgrey; padding: 1%; color: crimson}
#gametitle :first-child {color:firebrick}
#gametitle :last-child {color:#111}
#version {border-bottom: 2px solid dimgrey}
#characterframe {display: none; position: relative; border-bottom: 2px solid dimgrey}
#bgimg {width:100%}
#cimg {position: relative; object-fit: contain; width: 50%}
#gamestatustext {padding: 1%; border-bottom: 1px solid dimgrey; text-align: center}
#gamestatus {padding: 2% 10%; border-bottom: 2px solid dimgrey}
#sidebarmenu {margin: 1%}
#infodis {display: none; box-sizing: border-box; position: absolute; z-index: 1; margin-left: 20em; width: 50%; height: 80%; border: 3px solid dimgrey; padding: 1%; background: #222; overflow: auto}
#txt {text-align: center}
::-webkit-scrollbar {width: 7px}
::-webkit-scrollbar-track {background: #999}
::-webkit-scrollbar-thumb {background: #666}
